@import "tailwindcss";

@utility bg-mesh-gradient {
  background-color: #150f2e;
  background-image: 
    radial-gradient(at 0% 0%, rgba(219, 39, 119, 0.4) 0px, transparent 60%),
    radial-gradient(at 70% 30%, rgba(79, 70, 229, 0.4) 0px, transparent 65%),
    radial-gradient(at 100% 100%, rgba(249, 115, 22, 0.4) 0px, transparent 70%),
    radial-gradient(at 0% 100%, rgba(139, 92, 246, 0.4) 0px, transparent 60%);
  background-size: cover;
}
